.container-fluid {
    background-color: black;
}
.navbar-brand {
    color: beige;
}
.nav-link {
    color: beige;
}
.tt {
    font-weight: 800;
}
.card-column {
    float: left;
    width: auto;
   
}